body {
  background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 50%, #ffffff 100%);

}

h1 {
width: 266px;
height: 36px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #000000;
margin: auto;
}


#home {
width: 53px;
height: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #000000;

}

#rank {
width: 47px;
height: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #000000;
}

#compare {
width: 83px;
height: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #000000;
}

#sign-in {
width: 141px;
height: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #000000;
}

#forum {
  width: 959px;
  height: 687px;

  background: rgba(55, 80, 105, 0.1);
  opacity: 0.5;
  border-radius: 50px 0px;
}

#larry {
width: 300px;
height: 635px;

}

#steph {
  width: 335px;
  height: 489px;
z-index: 3;

}

#wilt {
  width: 374px;
height: 500px;
  z-index: 2;

}

#mj {
  width: 394px;
  height: 713px;
z-index: 1;

}

#home-icon{
width: 70px;
height: 64px;
}

#ai-lue {
width: 200px;
height: 150px;
}

#rank-icon {
width: 128px;
height: 145px;
}

#compare-icon {
width: 68px;
height: 64px;

}

#signin-icon {
width: 72px;
height: 79px;



}

#wade {
  position: absolute;
  width: 390px;
  height: 592px;
  left: 0px;
  top: 356px;
}

.grid-container-nav {
  display: grid;


}

.grid-container-body {
  display: grid;
  grid-template-columns: 2fr, 4fr, 2fr;

}

.grid-title {
  grid-column-start: 1;
  grid-column-end: 8;
}

.grid-forum {
  grid-column-start: 3;
  grid-column-end: 6;
}

.grid-image-1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.grid-image-2 {
  grid-column-start: 7;
  grid-column-end: 8;
}
