*{
  box-sizing: border-box;
  margin: 0;
  padding 0;
}

body {
  background-color: azure;
}

.headerBar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: goldenrod;
  width: 100vw;
  position: fixed;

}

#nav-bar{
  margin-top: 3rem;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 15px;
}

.nav-link {
  margin-top: 10px;
  width: 65x;
  height: 55px;

}

footer {
  font-size: 20px;
}

h1 {
  text-align: center;
  margin-top: 80px;
}

.topPage {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 200px;
  margin-left: 30px;
}

#blog {
  width: 800px;
height: 500px;
box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px 0px;
}


