.3_3 {
	overflow:hidden;
}
.e3_3 {
	background-color:rgba(255, 255, 255, 1);
	width:1600px;
	height:1032px;
	position:absolute;
}
.e3_9 {
	width:300px;
	height:635px;
	position:absolute;
	left:1196px;
	top:230px;
	background-image:url(images/larryb_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_28 {
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1874px;
	height:292px;
	position:absolute;
	left:-13px;
	top:-144px;
}
.e3_4 {
	width:693px;
	height:752px;
	position:absolute;
	left:773px;
	top:148px;
	background-image:url(images/mj_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_8 {
	width:766px;
	height:479px;
	position:absolute;
	left:813px;
	top:417px;
	background-image:url(images/wade_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_6 {
	width:357px;
	height:580px;
	position:absolute;
	left:1248px;
	top:340px;
	background-image:url(images/steph2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_10 {
	width:68px;
	height:64px;
	position:absolute;
	left:1385px;
	top:51px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_11 {
	width:70px;
	height:64px;
	position:absolute;
	left:1076px;
	top:51px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_12 {
	width:260px;
	height:180px;
	position:absolute;
	left:0px;
	top:-16px;
	background-image:url(images/image_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_13 {
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:38px;
	position:absolute;
	left:38px;
	top:39px;
	font-family:Academy Engraved LET;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e3_14 {
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:22px;
	position:absolute;
	left:197px;
	top:39px;
	font-family:Academy Engraved LET;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e3_17 {
	box-shadow:10px 10px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(55.2234361320734, 80.20546540617943, 105.18749848008156, 0.10000000149011612);
	width:890px;
	height:551px;
	position:absolute;
	left:51px;
	top:320px;
	border-radius:Symbol(figma.mixed)px;
}
.e3_15 {
	width:122px;
	height:83px;
	position:absolute;
	left:1219px;
	top:39px;
	background-image:url(images/image_17.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e7_18 {
	width:100px;
	height:100px;
	position:absolute;
	left:432px;
	top:180px;
}
.e7_19 {
	width:100px;
	height:100px;
	position:absolute;
	left:1219px;
	top:180px;
}
.e15_26 {
	width:73px;
	height:79px;
	position:absolute;
	left:1496px;
	top:43px;
	background-image:url(images/image_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e18_29 {
	color:rgba(0, 0, 0, 1);
	width:531px;
	height:63px;
	position:absolute;
	left:598px;
	top:190px;
	font-family:Academy Engraved LET;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
